h1{
	color:red;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
body{
	/*background-color:yellow;*/
	font-family:Arial;
	line-height:1.5em;
}/*you can also write Fonts out as a string for short*/
.box_1{
	background-color:blue;
}
.box_0{
	border:50px 10px 50px 10px;
	background-color:green;
}
html{
	background-image:url("background1.jpg");
}
h2{
	font-size:15px;
	color:red;
}